@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
.Open-Sans {
  font-family: "Open Sans", sans-serif;
}
.mar-1rem {
  margin: 1rem;
}
.mar-2rem {
  margin: 2rem;
}

.p-16px {
  padding: 16px;
}
.pr-40px {
  padding-right: 40px;
}
.pt-10px {
  padding-top: 10px;
}
.pt-2rem {
  padding-top: 2rem;
}
.pb-2rem {
  padding-bottom: 2rem;
}
.pb-3rem {
  padding-bottom: 3rem;
}
.font-xx-large {
  font-size: xx-large;
}
.font-bold {
  font-weight: bold;
}
.color-green {
  color: #22c55e;
}
.color-balck-blue {
  color: #475569;
}
.font-larger {
  font-size: larger;
}
.font-medium {
  font-size: 16px;
}
.font-small {
  font-size: small;
}
.a-white {
  color: #e2e8f0;
  text-decoration: none;
}
.a-green {
  color: #4ade80;
  text-decoration: none;
}
.a-white:hover {
  color: #cbd5e1;
}
.a-green:hover {
  color: #22c55e;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
