@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}
.Open-Sans {
  font-family: "Open Sans", sans-serif;
}
.font-title {
  font-size: 16px;
  font-weight: 400;
}
.font-bold {
  font-size: larger;
  font-weight: bold;
}
.p-10rem {
  padding: 10rem;
}
.p-5rem {
  padding: 0 5rem;
}
.mar-1rem {
  margin: 1rem;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 8px;
}
.card img {
  border: 1px solid #fff;
  border-radius: 6px;
  width: 20vw;
  height: 35vh;
}
